@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="background-color:cyan; height:800px">

    <div class="col-md-3" style="background-color:darkgreen; color:yellow;">
        Left colums

        <div>

            <h3 style="color:Maroon"> Sport news</h3>
            <p>


                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <hr />
            <h3 style="color:Maroon">Family</h3>
            <p>


                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.

            </p>
            <hr />
            <h3 style="color:Maroon">Health</h3>
            <p>


                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <hr />


        </div>

    </div>

    <div class="col-md-6 " style="background-color:black; color:wheat; height:800px;">



        <h3 style="color:Maroon"> Breaking News</h3>
        <p>


            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <hr />
        <h3 style="color:Maroon">Wararka </h3>
        <p>


            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        </p>
        <hr />
        <h3 style="color:Maroon"> War degdeg ah</h3>
        <p>


            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        </p>
        </div>




    


    <div class="col-md-3 co" style="background-color:white; color:black">

        <div>

            <h3 style="color:Maroon"> Sheeko xiiso leh</h3>
            <p>


                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <hr />
            <h3 style="color:Maroon">Arimaha qoyska</h3>
            <p>


                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.

            </p>
            <hr />
            <h3 style="color:Maroon"> Arimaha Bulshada</h3>
            <p>


                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.

            </p>
        </div>
    </div>
</div>




